@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/* Start your base/mobile styles here */

* {
    box-sizing: border-box;
}

html,
body {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 18px;
    background-color: lightgreen;
}

figcaption {
    color: gray;
    
}

img {
    max-width: 70%;
    max-height: 70%;
    box-align: center;
    margin-left: auto;
    margin-right: auto;
}

.result {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 3px;
}



.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

.item {
    display: none;
}

.item.active {
    display: table-row;
}


.filter{
    padding: 10px;
    margin-bottom: 15px;
}
img {
    display: block;
    width: 100%;
}

select {
    display: block;
    width: 100%;
}

#result{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

td> table {
    flex-basis: calc(20% - 10px); 
}

h3 > #empty {
    border-style: no-border;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%; 
    border: 2px solid white;
    position: absolute;
}
/** Images are allowed to be a little wider when broken out into their own container */

.container.image {
    max-width: 1200px;
    padding: 0;
}

.container.image .caption,
.container.image figcaption {
    padding: 5px 10px;
}



.close , .inner {
    display: none;
}

.dot.active {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#D5:not(.active) {
    top: 41%;
    left: 48%;
}
.annotate {
    position: relative;
}

.dot.active .close,
.dot.active .inner {
    display: block;
}

.close {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 0px;
}

.dot.active {
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;

}

.inner {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 10px;
    transform: translateY(-50%);
}
.darkgreen {
    
    background-color: rgba(162, 21, 21, 0.707);

}

.yellow {
    background-color: rgba(245, 230, 13, 0.696);
}

#D7:not(.active) {
    top: 40%;
    left: 53%;
}

.darkblue {
    background-color: rgba(31, 75, 168, 0.621);
}

#D18:not(.active) {
    top: 75%;
    left: 54%;
}

#D17:not(.active) {
    top: 71%;
    left: 49%;
}

.red {
    background-color: rgba(0, 255, 38, 0.663);
}

#D23:not(.active) {
    top: 69%;
    left: 55%;
}

.lightblue {
    background-color: rgba(154, 30, 162, 0.65);
}

/* Tablet/Desktop overrides */

@media(min-width: 681px) {}

#food > div {
    flex-basis: calc(33% - 10px); 
}



@media(min-width: 729px) {
    /* Any adjustments for desktop and larger go here. Note these styles will be applied to anything 729px or larger -- so desktop */
}